numpy
regex
tqdm
opencv-python
paddlepaddle==2.6.1
paddleocr==2.8.1
gradio==4.7.1
setuptools==66.0.0
datasets==2.11.0
transformers==4.28.1
accelerate==0.22.0 
git+https://github.com/JingyeChen/diffusers_td2.git
sentencepiece
torch==2.0.1
langchain==0.2.13
# langchain-community==0.2.12
langchain-ollama==0.1.1
# only for colab
# "jax[cuda12_pip]==0.4.23" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html -q